" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
set hlsearch
set incsearch
set ignorecase
set smartcase
set multiple-cursors
set surround
set showcmd

" plugins
set NERDTree
set highlightedyank
set vim-paragraph-motion
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']


map <space> <leader>

" Refactor Rename
nnoremap cn :action RenameElement <CR>

" copy into clipboard
noremap <leader>yaw "*yaw
noremap <leader>yiw "*yiw

" Git
map <leader>b :action Git.Branches <CR>

" Run and debug shortcuts
" map <leader>d :action Debug <CR>
" map <leader>r :action Run <CR>
" nnoremap <leader>s :action Stop <CR>
" map <leader>R :action RunMenu <CR>

" Errors
nnoremap <leader>ej :action GotoNextError <CR>
nnoremap <leader>ek :action GotoPreviousError <CR>

" Show context
nnoremap <leader>q :action EditorContextInfo <CR>

" go to implementations
map <leader>i :action GotoImplementation <CR>

" add new line bellow cursor
nnoremap <leader>o mmo<Esc>`m

" esc but cursor stays in the same place
inoremap <S-Esc> <Esc>l

" move tab to other editor group
nnoremap <C-w>m :action MoveEditorToOppositeTabGroup <CR>

" reveal file in nerdtree
nnoremap <leader>f :NERDTreeFind <CR>

" File structure
map <leader>s :action FileStructurePopup <CR>

" Close notifications
map <leader>n :action MarkNotificationsAsRead <CR>

" tab selection
noremap <leader>1 1gt
noremap <leader>2 2gt
noremap <leader>3 3gt
noremap <leader>4 4gt
noremap <leader>5 5gt
noremap <leader>6 6gt
noremap <leader>7 7gt
" noremap <leader>8 8gt
noremap <leader>9 9gt
noremap <leader>0 :tablast<cr>

" remove search highlight
noremap <leader>8 :noh<cr>

" start/end line
noremap <leader>h ^
noremap <leader>l $

" prev/next - method
noremap <leader>j :action MethodDown<cr>
noremap <leader>k :action MethodUp<cr>

" prev/next  - class
noremap <leader>J j/class <cr>:noh<cr>wzz
noremap <leader>K k?class <cr>:noh<cr>wzz

" show inline impl
noremap <leader>c :action QuickImplementations<cr>


" Relative line numbers
" :set relativenumber number

" nnoremap <leader>n :set relativenumber number<CR>
" nnoremap <leader>N :set relativenumber!<CR>

